################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FactoryDesignPattern/Factory/bin/Debug/netstandard2.0
/FactoryDesignPattern/Factory/obj
/FactoryDesignPattern/Model/bin/Debug/netstandard2.0
/FactoryDesignPattern/Model/obj
/FactoryDesignPattern/ModelContract/bin/Debug/netstandard2.0
/FactoryDesignPattern/ModelContract/obj
/FactoryDesignPattern/packages
/FactoryDesignPattern/Web.CustomerClient/bin
/FactoryDesignPattern/Web.CustomerClient/obj
/FactoryDesignPattern/.vs/FactoryDesignPattern
/StrategyPattern/.vs/StrategyPattern
/StrategyPattern/Factory/obj
/StrategyPattern/Factory/bin/Debug/netstandard2.0
/StrategyPattern/Model/obj
/StrategyPattern/Model/bin/Debug/netstandard2.0
/StrategyPattern/ModelContract/obj
/StrategyPattern/ModelContract/bin/Debug/netstandard2.0
/StrategyPattern/Model/CustomerModel.cs
/StrategyPattern/packages
/StrategyPattern/ValidationAlgorithms/obj
/StrategyPattern/ValidationAlgorithms/bin/Debug/netstandard2.0
/StrategyPattern/Web.CustomerClient/obj
/StrategyPattern/Web.CustomerClient/bin
